
<ul class="pagination">
  {% if page_obj.has_previous %}
       <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}"><<</a></li>
  {% endif %}

  {% for page in page_obj.paginator.page_range %}
        <li class="page-item {% if page_obj.number == page %}active{% endif %}">
             <a class="page-link" href="?page={{ page }}&{{ paginations_params }}">{{ page }}</a>
        </li>
  {% endfor %}

  {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}&
        {{ paginations_params }}">>></a></li>
  {% endif %}
</ul>
