{% extends 'base.html' %}
{% load static %}

{% block main_content %}
{% include 'includes/navbar.html' %}

<!--<div style="margin:70px 250px">-->

<div>
     <article>
         <h1 style="text-align: center;">Python для новичков: сферы применения и возможности</h1>
         <div class="text-block">
             <h4>
                 Как устроен Python, чем он хорош, а также кто, как и зачем использует его в работе. Гайд для программистов
                 и интересующихся Python.
             </h4>
             <img src="static/images/image.png" alt="Центрируем изображение" class="center-img">
         </div>

         <div class="text-block">
            <p>
             Python — это скриптовый язык программирования. Он универсален, поэтому подходит для решения разнообразных
             задач и для многих платформ: начиная с iOS и Android и заканчивая серверными операционными системами.
             </p>
             <p>
                <h1>
                    Как и где применяется Python
                </h1>
             </p>
             <p>
                 Это интерпретируемый язык, а не компилируемый, как C++ или Java. Программа на Python представляет
                 собой обычный текстовый файл. Код можно писать практически в любом редакторе или использовать
                 специальные IDE:
                 <ul>
                    <li>PyCharm — мощная среда разработки от JetBrains.</li>
                    <li>Spyder — IDE, оптимизированная для работы в Data Science. Идёт в пакете с Anaconda.</li>
                    <li>IDLE — стандартный текстовый редактор в составе языка.</li>
                    <li>SublimeText — текстовый редактор с множеством плагинов.</li>
                    <li>Visual Studio Code — популярный текстовый редактор от Microsoft.</li>
                </ul>
                 Python можно встретить почти везде: в вебе, мобильных и десктопных приложениях, а также в играх.
                 На нём пишут нейросети, проводят научные исследования и тестируют программы. Поговорим подробнее об
                 основных сферах его применения.
             </p>
             <p>
                 <h1>Веб-разработка</h1>
             </p>
             <p>
                 Чаще всего Python используют в веб-разработке. Для него написано множество фреймворков: FastAPI,
                 Flask, Tornado, Pyramid, TurboGears, CherryPy и, самый популярный, Django.
             </p>
             <p>
                 Ещё на Python пишут парсеры для сбора информации с веб-страниц. Делают это с помощью таких популярных
                 библиотек:
             </p>
             <ul>
                 <li>Scrapy — кросс-платформенная высокопроизводительная библиотека с большим сообществом пользователей.</li>
                 <li>Beautiful Soup — простая и мощная библиотека для парсинга HTML- и XML-документов. Отличается хорошей документацией.</li>
                 <li>Selenium — инструмент для автоматизации и тестирования онлайн-приложений, который позволяет имитировать работу браузера.</li>
             </ul>
              <p>
                 <h1>Научные исследования и машинное обучение</h1>
             </p>
             <p>
                 лагодаря лаконичности, простому синтаксису и богатому набору инструментов Python стал любимым языком учёных.
                 Есть специальные библиотеки для Python, которые позволяют строить графики, проводить исследования и вычисления:
             </p>
             <ul>
                 <li>SciPy — набор инструментов для научных вычислений.</li>
                 <li>NumPy — расширение, которое позволяет оперировать матрицами и многомерными массивами.</li>
                 <li>Pandas — библиотека для аналитики данных.</li>
                 <li>Matplotlib — библиотека для построения графиков различной сложности.</li>
             </ul>
             <p>
                 Также для Python есть множество свободных ML-инструментов:
             </p>
             <ul>
                 <li>STensorFlow;</li>
                 <li>scikit-learn;</li>
                 <li>Keras;</li>
                 <li>Pandas.</li>
             </ul>
             <p>
                 <h1>Тестирование</h1>
             </p>
             <p>
                 Ещё одна область применения Python — автоматизация тестирования. Многие специалисты по автоматизации QA
                 выбирают Python из-за его простоты. Он отлично подходит тем, кто имеет небольшой опыт в разработке приложений.
                 Развитое сообщество, логичный синтаксис и удобочитаемость упрощают процесс обучения.
             </p>
             <p>
                 У Python есть простые фреймворки для модульного тестирования:
             </p>
             <ul>
                 <li>unittest;</li>
                 <li>nose;</li>
                 <li>pytest.</li>
             </ul>
             <p>
                 <h1>Десктоп-приложения</h1>
             </p>
             <p>
                 Хоть язык не компилируется, с его помощью всё же можно создать десктопные программы. Вот, например,
                 небольшой список популярных приложений, которые написаны на Python:
             </p>
             <ul>
                 <li>GIMP — визуальный редактор на Linux;</li>
                 <li>Ubuntu Software Centre — центр приложений в ОС Ubuntu (один из дистрибутивов Linux);</li>
                 <li>BitTorrent до шестой версии — менеджер торрент-закачек (позже программу переписали на C++, но
                     сети peer-to-peer всё ещё работают на Python);
                 </li>
                 <li>Blender — программа для создания 3D-графики;</li>
                 <li>Ansible — механизм управления конфигурацией, позволяющий развёртывать многоузловое программное обеспечение;</li>
                 <li>Mercurial — кросс-платформенный инструмент управления распределённым исходным кодом.</li>
             </ul>
             <p>
                 <h1>Мобильные приложения</h1>
             </p>
             <p>
                 Мобильная разработка на Python менее популярна. Для Android чаще используют Java, C#, C++ или Kotlin, а
                 для iOS — Swift или Objective-C. На Python обычно программируют серверную часть приложения. Например,
                 клиент «Инстаграма*»* для iOS написан на Objective-C, а сервер — на Python. Тем не менее у Python есть
                 фреймворки для разработки кросс-платформенных мобильных GUI-приложений: Kivy и BeeWare.
             </p>
             <p>
                 <h1>Игры</h1>
             </p>
             <ul>
                 <li>Battlefield 2;</li>
                 <li>World of Tanks;</li>
                 <li>BCivilization IV;</li>
                 <li>The Sims 4;</li>
                 <li>EVE Online.</li>
             </ul>
             <img src="static/images/game.gif" class="center-img">
             <p>
                 Хоть Python позволяет писать пользовательские интерфейсы и работать с графикой, чаще всего на нём пишут
                 скрипты — например, для взаимодействия персонажей, запуска сцен и обработки событий. На Python написан
                 искусственный интеллект AlphaStar для StarCraft 2, способный победить сильнейших профессиональных игроков.
             </p>
              <p>
                 <h1>Какие компании используют Python</h1>
             </p>
             <p>
                 В основном Python используют стартапы и компании, которые разрабатывают крупные проекты. Вот лишь часть
                 огромного списка его пользователей — крупных организаций:
             </p>
             <ul>
                 <li>Google — использует язык в качестве компонента поискового движка.</li>
                 <li>Dropbox — применяет Python для оптимизации серверной части и внешнего интерфейса.</li>
                 <li>Spotify — использует Python для аналитики данных.</li>
                 <li>«Инстаграм*»*, «Фейсбук*»* — используют в серверной части.</li>
                 <li>BitTorrent — в компании построили на Python сеть peer-to-peer.</li>
                 <li>Агентство национальной безопасности США — шифрует и анализирует разведданные.</li>
                 <li>Esri — использует Python в качестве инструмента настройки геоинформационных программ.</li>
                 <li>Pixar, Industrial Light & Magic — создают на Python анимационные фильмы.</li>
                 <li>Intel, Cisco, HP, Seagate, Qualcomm и IBM — тестируют и анализируют рынок с помощью Python.</li>
                 <li>NASA, Los Alamos, Fermilab, JPL — применяют язык в научных вычислениях.</li>
             </ul>
             <p>
                 Кроме того, Python используют в Positive Technologies, Houdini, Yahoo, Red Hat, Pinterest, Quora, VK и
                 «Яндексе». Короче, Python есть практически в каждой компании.
             </p>
             <p>
                 <h1>Преимущества Python</h1>
             </p>
             <p>
                 Главное преимущество Python — его простота. Не нужно тратить месяцы на изучение сложного синтаксиса,
                 как в C++, и переживать об утечках памяти. Язык всё сделает за вас.
             </p>
             <p>Другие достоинства Python:</p>
             <ul>
                 <li><b>Это интерпретируемый язык.</b> До запуска программа на Python представляет собой обычный текстовый файл,
                     который можно запустить на любой платформе, где установлен интерпретатор.</li>
                 <li><b>Он отлично подходит новичкам.</b> Python хорошо спроектирован и логичен. Для его изучения даже не нужно
                     знать английский язык. Благодаря его простоте разработка идёт намного быстрее, потому что программист
                     пишет меньше кода.</li>
                 <li><b>У языка мощное сообщество.</b> Сообщество пользователей Python настолько большое, что если вы столкнётесь
                     с непонятной ошибкой, то, скорее всего, быстро найдёте её решение в интернете. Ведь до вас кто-то уже
                     столкнулся с похожей и выложил решение на Stack Overflow.</li>
             </ul>
             <p>
                 <h1>Недостатки Python</h1>
             </p>
             <p>
                 А теперь перейдём к «ложке дёгтя»:
             </p>
             <ul>
                 <li><b>Программы на Python — среди самых медленных.</b>  Приложения для iOS на Swift работают в 8,7 раза
                     быстрее, чем на Python. Реализация PyPy по скорости близка к Java, но в ней есть не все возможности
                     оригинального языка. Python не подходит для задач, требующих большого объёма памяти, — их лучше решать
                     вставками на C или C++.</li>
                 <li><b>ОСильная зависимость языка от системных библиотек. </b> PЭто затрудняет перенос приложений на другие
                     системы. Чтобы решить проблему, придумали Virtualenv, но и у него есть недостатки: избыточность полных
                     методов изоляции, костыли, дублирование системных библиотек.</li>
                 <li><b>Global Interpreter Lock (GIL) не позволяет выполнять несколько потоков одновременно в реализации CPython.</b>
                     Однако GIL можно отключить на какое-то время, как это сделано в пакете NumPy.</li>
                 <li><b>Динамическая типизация.</b>«Вот это да! — скажете вы. — Разве динамическая типизация — это не круто»?
                     С одной стороны — да, но именно из-за неё ошибки отображаются во время выполнения (runtime), а не компиляции
                     (compile time).</li>
             </ul>
             <p>
                 <h1>Заключение</h1>
             </p>
             <p>
                 Язык программирования Python с каждым годом становится всё популярнее и востребованнее. Он отлично
                 подходит для многих направлений разработки: от веба до тестирования и анализа данных.
             </p>
             <p>
                 Программы на Python гибкие, легко масштабируются, а для их создания не требуется содержать большую команду
                 разработчиков. У языка простой и понятный синтаксис и мощное сообщество, которое его развивает и популяризирует.
             </p>
        </div>
     </article>
 </div>

{% endblock %}


