{% extends 'base.html' %}

{% block main_content %}
{% include 'includes/navbar.html' %}

<div style="margin:70px 250px">

    <center>
        <h1>Как найти первую работу в IT: план действий для начинающих</h1>
    </center>
    <h4>
        <p>
                Всем привет! Меня зовут Влад, и я около семи лет в IT. За это время видел множество компаний изнутри, прошел десятки с
            обеседований, изучал нашу и западную карьерную специфики и менталитет.
            После множества комментариев и вопросов в личку по моей предыдущей статье об изучении .NET я понял, что начинающих
            специалистов больше всего интересует вопрос, как найти первую работу. Я буду говорить в основном о разработчиках, но
            эти советы пригодятся всем.
            При поиске первой работы мы встречаемся с проблемой курицы и яйца, ведь, как известно, везде требуются люди с опытом,
            а опыт можно получить на работе. Разрешить это противоречие можно, только создав такие условия, при которых работодателям
            будет выгодно вас нанять.
            В чем выгода работодателя? В том, чтобы нанять недооцененного человека, обладающего хорошей базой:
            теоретической, практической в другой сфере, языковой, мотивационной, интеллектуальной.
        </p>
        <p>
            Именно для нахождения недооцененных талантов и отсева всех остальных работодатели проводят IT-курсы/интернатуры/программы.
            Они инвестируют условную тысячу долларов в человека, чтобы со временем заработать на нем гораздо больше. К тому же сформировавшегося
            специалиста сложно переучить, да и он будет сопротивляться, а новичка можно обучить под себя. Инвестиция в интерна может очень хорошо
            окупиться через пару лет.
        </p>
        <p>
            <h2>Как формируется цена работника</h2>
        <h4>
            У интеллектуального труда нет себестоимости. Цена определяется исключительно рынком и осведомленностью работников о нем.

            Факторы, влияющие на цену человека на рынке труда:

            общедоступная статистика;
            общение с друзьями/знакомыми/коллегами;
            собственный опыт торгов с работодателями;
            минимальные потребности человека;
            возможно, эксперимент по щупанью рынка — попытки продать себя по завышенной цене;
            налоговая нагрузка в регионе.
            В целом на рынке труда соискатель может либо предложить свою цену, либо соглашается на цену, установленную
            работодателем. Для новичков более частый кейс, когда им предлагают какую-то цену, ввиду того, что Предложение > Спрос.
            Собственно, тренды этих цен и создают статистику. Если Спрос > Предложение на рынке, каждая новая сделка (найм)
            двигает статистику вверх. Если Предложение > Спрос, каждая сделка двигает статистику вниз. Очень созвучно с принципами
            биржевой торговли, только здесь больше хаоса.
            Например, по статистике DOU цена на джуниоров упала, потому что людей, желающих работать в IT, стало больше,
            чем мест. Цены коррелируют внутри замкнутой экосистемы (биржи), в данном случае — города.
            Соответственно, следующий уровень, который может колебать цену на рынке, — памп/дамп (искусственное
            завышение/занижение цены) активов через нагнетание в медиа информации, склоняющей людей к занижению или
            завышению своей цены. Например, Вася прочитал на DOU, что средняя зарплата джуниора — $1000, а он получает
            $400. Вася пошел просить больше и искать вакансию на $1000.
            Я описал общие тенденции ценообразования активов (людей), но какой актив хочет купить работодатель?
            Конечно, недооцененный! Если при выборе очень опытного специалиста часто вопрос цены стоит на последнем плане,
            в рамках разумного, ведь человека берут не под маржу, а под закрытие рисков, то новичок нужен именно для маржи
            и как можно более долгой.
        </p>
            <p>
                <h2>Алгоритм поиска первой работы

            <h4>Рынок труда в IT в целом несколько отличается от других рынков:

            Очень большое присутствие соискателей и компаний в интернете.
            Очень быстрое распространение информации о негативных и позитивных событиях.
            По многим специализациям спрос превышает предложение, исходя из чего, компании корректируют HR-политики и способы
            привлечения/мотивации сотрудников.
            Практически нет кумовщины, вам открыты все дороги даже без профильного образования, только бы вы смогли сделать
            работу нормально.
            Слишком быстрый рост зарплат, если сравнивать с другими сферами или даже c IT на Западе.
            Зарплаты значительно выше средних зарплат по региону.
            В целом примерный алгоритм найма в IT-компанию я вижу так (можно абстрагироваться от IT и применить его к
           любой сфере, где: умение приносить результат важнее формальностей, инструментарий доступен всем для практики и есть открытый доступ к обучающим материалам):
            </p>

    </h4>
</div>


{% endblock %}


<h1>Это было очень сложно, но меня уже не остановить!</h1>