{% extends 'base.html' %}

{% block main_content %}
{% include 'includes/navbar.html' %}


<body style="background-color:#f0f0f0;">
</br>
<form method="get" style="background-color:#f0f0f0;">
 {{ filter.form }}
    <button class="btn btn-primary">Поиск</button>
</form>
</br>
 <div>

    <center>
        <h3>Актуальные вакансии для начинающих Python разработчиков</h3>
        <p style="position: relative; right: -130px;">Всего найдено {{vacancy_list|length}} вакансий</p>
                {% for vacancy in vacancy_list %}
                <div class="card" style="width: 35rem;  border-radius: 8px;">
                 <a href="{% url 'first_job:vacancy_description' vacancy.pk %}"><h4><b>{{ vacancy.title }}</b></h4></a>
                    Работодатель: {{ vacancy.employer }}</br>
                    Город: {{ vacancy.city }}</br>
                    Зарплата: {{ vacancy.salary }}</br>
                    Источник: {{ vacancy.source }} <a href=  "{{vacancy.job_link }}" target=">>_blank"> Ссылка на вокансию</a></br>
                    Дата добавления вакансии: {{ vacancy.publication_date }}</br></br>
                </div>
                </br>
                {%endfor%}

    </center>
    </form>
</div>
</body>

{% include 'includes/paginator.html' %}

{% endblock %}